{
    "Description" : "Messing around the chef-encrypted_volume cookbook",
    "Resources": {
        "myStack": {
            "Type": "AWS::OpsWorks::Stack",
            "Properties": {
                "Name": {
                    "Ref": "AWS::StackName"
                },
                "DefaultAvailabilityZone" : "us-west-2a",
                "ServiceRoleArn": {
                    "Fn::GetAtt": [
                        "OpsWorksServiceRole",
                        "Arn"
                    ]
                },
                "DefaultInstanceProfileArn": {
                    "Fn::GetAtt": [
                        "OpsWorksInstanceProfile",
                        "Arn"
                    ]
                },
                "CustomCookbooksSource": {
                    "Type": "git",
                    "Url": "https://github.com/jsywulak/how_does_chef_encrypted_volume_work.git"
                },
                "ConfigurationManager" : {
                  "Name" : "Chef",
                  "Version" : "11.10"
                },
                "UseCustomCookbooks": "true",
                "CustomJson": {
                    "encrypted_volume": {
                        "mounts": {
                            "/": {
                                "volume": "/dev/xvda1",
                                "fstype": "ext2",
                                "passphrase": "P4ssw0rd!"
                            }
                        }
                    },
                    "volume" : { "Ref" : "EncryptedVolume" },
                    "stack_name" : { "Ref": "AWS::StackName" }
                },
                "DefaultOs": "Ubuntu 12.04 LTS",
                "DefaultSshKeyName": "jonny-labs-west2"
            }
        },
        "myLayer": {
            "Type": "AWS::OpsWorks::Layer",
            "Properties": {
                "StackId": {
                    "Ref": "myStack"
                },
                "Name": "test encryption stack instance",
                "Type": "custom",
                "Shortname": "test",
                "EnableAutoHealing": "true",
                "AutoAssignElasticIps": "false",
                "AutoAssignPublicIps": "true",
                "Packages": [
                    "nodejs",
                    "sqlite3"
                ],
                "CustomRecipes": {
                    "Deploy": [
                        "encrypted_volume"
                    ]
                }
            }
        },
        "myInstance1": {
            "Type": "AWS::OpsWorks::Instance",
            "Properties": {
                "StackId": {
                    "Ref": "myStack"
                },
                "LayerIds": [
                    {
                        "Ref": "myLayer"
                    }
                ],
                "InstallUpdatesOnBoot": true,
                "Os": "Ubuntu 12.04 LTS",
                "InstanceType": "m1.large",
                "RootDeviceType": "ebs",
                "Architecture": "x86_64"
            }
        },
        "OpsWorksServiceRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "opsworks.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "opsworks-service",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": [
                                        "ec2:*",
                                        "iam:PassRole",
                                        "cloudwatch:GetMetricStatistics",
                                        "elasticloadbalancing:*"
                                    ],
                                    "Resource": "*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "OpsWorksInstanceRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "ec2.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/"
            }
        },
        "OpsWorksInstanceProfile": {
            "Type": "AWS::IAM::InstanceProfile",
            "Properties": {
                "Path": "/",
                "Roles": [
                    {
                        "Ref": "OpsWorksInstanceRole"
                    }
                ]
            }
        },
        "EncryptedVolume" : {
           "Type":"AWS::EC2::Volume",
           "Properties" : {
              "AvailabilityZone" : "us-west-2a",
              "Size" : "10"
           }
        }
    }
}