{
    "Description": "Messing around the chef-encrypted_volume cookbook. This template makes no pretenses that its safe or secure. In fact, it's most likely the opposite. Don't try to use this for any instances that will live more than a few minutes, and definitely not for any instances that will contain any data that actually needs to be encrypted. (I'm looking at you, Brian. :)",
    "Resources": {
        "myStack": {
            "Type": "AWS::OpsWorks::Stack",
            "Properties": {
                "Name": {
                    "Ref": "AWS::StackName"
                },
                "DefaultAvailabilityZone": "us-west-2a",
                "ServiceRoleArn": {
                    "Fn::GetAtt": [
                        "OpsWorksServiceRole",
                        "Arn"
                    ]
                },
                "DefaultInstanceProfileArn": {
                    "Fn::GetAtt": [
                        "OpsWorksInstanceProfile",
                        "Arn"
                    ]
                },
                "CustomCookbooksSource": {
                    "Type": "git",
                    "Url": "https://github.com/jsywulak/how_does_chef_encrypted_volume_work.git"
                },
                "ConfigurationManager": {
                    "Name": "Chef",
                    "Version": "11.10"
                },
                "UseCustomCookbooks": "true",
                "CustomJson": {
                    "encrypted_volume": {
                        "mounts": {
                            "/encrypted": {
                                "volume": "/dev/xvdf",
                                "fstype": "ext2",
                                "passphrase": "password"
                            }
                        }
                    },
                    "volume": {
                        "Ref": "EncryptedVolume"
                    },
                    "stack_name": {
                        "Ref": "AWS::StackName"
                    }
                },
                "DefaultOs": "Ubuntu 12.04 LTS",
                "DefaultSshKeyName": "jonny-labs-west2"
            }
        },
        "myLayer": {
            "Type": "AWS::OpsWorks::Layer",
            "Properties": {
                "StackId": {
                    "Ref": "myStack"
                },
                "Name": "test encryption stack instance",
                "Type": "custom",
                "Shortname": "test",
                "EnableAutoHealing": "true",
                "AutoAssignElasticIps": "false",
                "AutoAssignPublicIps": "true",
                "Packages": [
                    "nodejs",
                    "sqlite3"
                ],
                "CustomRecipes": {
                    "Deploy": [
                        "missing_pieces",
                        "encrypted_volume"
                    ]
                }
            }
        },
        "myInstance1": {
            "Type": "AWS::OpsWorks::Instance",
            "Properties": {
                "StackId": {
                    "Ref": "myStack"
                },
                "LayerIds": [
                    {
                        "Ref": "myLayer"
                    }
                ],
                "InstallUpdatesOnBoot": true,
                "Os": "Ubuntu 12.04 LTS",
                "InstanceType": "m3.medium",
                "RootDeviceType": "ebs",
                "Architecture": "x86_64"
            }
        },
        "OpsWorksServiceRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "opsworks.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "opsworks-service",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": "*",
                                    "Resource": "*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "OpsWorksInstanceRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
                "AssumeRolePolicyDocument": {
                    "Statement": [
                        {
                            "Effect": "Allow",
                            "Principal": {
                                "Service": [
                                    "ec2.amazonaws.com"
                                ]
                            },
                            "Action": [
                                "sts:AssumeRole"
                            ]
                        }
                    ]
                },
                "Path": "/",
                "Policies": [
                    {
                        "PolicyName": "opsworks-service",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Effect": "Allow",
                                    "Action": "*",
                                    "Resource": "*"
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "OpsWorksInstanceProfile": {
            "Type": "AWS::IAM::InstanceProfile",
            "Properties": {
                "Path": "/",
                "Roles": [
                    {
                        "Ref": "OpsWorksInstanceRole"
                    }
                ]
            }
        },
        "EncryptedVolume": {
            "Type": "AWS::EC2::Volume",
            "Properties": {
                "AvailabilityZone": "us-west-2a",
                "Size": "10"
            }
        }
    }
}
